:root{
    --c1:#eed1be;
    --c2:#ffddbb;
    --c3:black;
    --c4:white;
    --c5:#050505;
    --c6:beige;
    --c7:tan;
}
html{
    scroll-behavior: smooth;
}
body{
    /*font-family: 'Architects Daughter', cursive !important;*/
    /* font-family: 'Gluten', cursive !important; */
    background-image: url("/bgtile.png");
    background-position:center;
    background-size: 50px;
}

.shoplogo{
    width:150px;
    padding:0px 5px;
}
.header{
position: fixed !important;
top:0px;
width:100%;
justify-content: center;
font-size: 40px;
background: linear-gradient(180deg,var(--c1),var(--c2));
padding-top: 10px;
z-index: 9;
}
.header img{
    float:left;
}
.header h3{
    float: left;
    padding:30px 10px 0px 10px;
}
.header span{
    float:right;
    padding:10px 50px
}

.header a{
    text-decoration: none;
    color:var(--c3);
    padding: 50px 0px 46px 0px;
}
h2{
    text-align: center;
}
@keyframes hover{
10%{
    background: var(--c1);
    opacity: 5%;
}

100%{
    background: var(--c1);

}
}
.navlinks a:hover{
    background-color:var(--c1);
    color:var(--c4);
    animation-name: hover;
    animation-duration: 600ms;
    animation-iteration-count: 1;
    
}

.navlinks{
    float: right;
padding: 20px 20px !important;
}
.navlink{
    padding:0px 10px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color:var(--c5); /* Black*/
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--c7);
    display: block;
    transition: 0.3s;
  }
  /* When you mouse over the navigation links, change their color */
  .sidenav .sidenavwords a:hover {
    color:var(--c6);
    background:var(--c7)
  }
.sidenav i{
    color:var(--c6);
}
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/* .card-content{
    float:left;
    padding-right: 10px;
}
.card-content p{
    float:left;
    text-align:left
}
.card-body{
    height:10px !important;
} */
.shop{
    /* display:flex !important; */
    /* margin:auto !important; */
    /* display:flex; */
}

button{
    background:linear-gradient(45deg,var(--c1),var(--c2));
    padding:5px;
    border: none;
    border-radius: 10px;
    float:left;
    margin: auto !important;

}
 button:hover{
    background-color: var(--c1);
        animation-name:shopbuttonhover;
    animation-duration: 100ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes shopbuttonhover{
    0%{
        background:var(--c1);
        opacity: 1%;
    }
    100%{
        background:var(--c2);
        opacity: 100%;
    }
}
.box-container{
    border: var(--c3) solid 1px;
    /* background:red; */
width:100%;
    margin:0px 10px;
    padding:5px;
    border-radius:2%;
    flex-direction: row;
    background:var(--c6);
    align-content: center;
    

}
.box-header{
    text-align: center;
    background: linear-gradient(180deg,var(--c1),var(--c2));;
    margin:-5px;
    padding-bottom: 10px;
    border-radius: 5%;
}
.box-img{
padding:10px;
}
.bodyimg{
    border: var(--c5) 2px solid;
    margin: 10px 0px;
}
.break {
    background-color:transparent;
    padding:100px;
}
.maintext{
    margin-top: 70px;
        text-align: center;
    
}
.txt-container{
    background:var(--c6);
    padding:10px;
    border:1px solid var(--c3);
    margin:0px 10px;
    border-radius: 1%;
}
.heading-container{
    background:var(--c2);
    padding:10px;
    border:2px solid var(--c3);

}
.txt-box{
    background:var(--c6);
    border:1px solid var(--c3);
    margin:0px 10px;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
    
}
.bodyimg{
    width:55%;
    position: relative;
}

footer{
    background: black;
    width:100%;
    bottom:0px !important;
    margin-top:100px;
}
option{
    border: none;
    background: var(--c1);
}
select{
border-radius: 5px;
    background: linear-gradient(180deg,var(--c1),var(--c2));
}


.sm-display{
    display:none;
}

@media(max-width:854px){
    .sm-display{
        display: inline;
    }
    .lg-display{
        display: none;
    }
}
@media (max-width:767px){
    .shop{
        display:grid;
    }
    #market{
        margin:auto !important;
    }
    

}
@media (max-width:678px){
    .maintext{
        margin-top:120px;
    }
    .big-display{
        display: none;
    }
    .mobile-display{
        display:block !important;
    }
    .box-container{
        margin:10px 0px;
    }
    .header h3{
        font-size:20px;
    }
}
@media (max-width:621px){
    .lg-display{
        display: none;
    }
    .maintext{
        margin-top:95px;
    }
    .bodyimg{
        border: var(--c5) 2px solid;
        margin: 10px 0px;

    }

}
@media (min-width:575px){
    .shop{
        display:flex !important;
    }
    .product img{
        height:120px !important;
        width:150px !important;
    }
}
@media (max-width:575px){
    #market{
        margin:0px 100px !important;
    }
    .product img{
        width:90% !important;
    }
}
@media (max-width:424px){
    #market{
        margin:0px 50px !important;
    }
}
@media (max-width:350px){

    .box-img img{
        width:100%;
        height:100%;
    }
    .shop .box-img img{
        width:10% !important;
    }
    .maintext{
        margin-top:90px;
    }
}
@media (max-width:284px){
    .maintext{
        margin-top: 150px;
    }
}
@media (max-width:243px){
    .maintext{
        margin-top: 230px;
    }
}

.hcard{
    text-align: center !important;
    position:relative;
    margin:10px 10px;
    justify-content: center;
    background: linear-gradient(90deg,var(--c2),var(--c2));
    border-radius:25px;
    width:80%;
    border:3px var(--c5) solid;
    background: url("./bgtile2.png");
    background-position:center;
    background-repeat: repeat;
    background-size: 50px;
    align-self: center;
    left:10%;
}
.hcard-txt{
    display:flex;
}
.hcard-txt-2{

    background: url("./bgtile2.png");
    background-position:center;
    background-repeat: repeat;
    background-size: 50px;
}
.hcard p{
    display:flex;
    float: right;
}
.hcard img{
    float: left;

    width:200px;
    display:flex;
    border-radius:25px

}
.hcard-content{
    display: block;
    margin: auto;

}
footer{
    color:var(--c6);
    flex: auto;
    padding-top:10px;
    text-align: center;
    height: 250px;
    float:right;
    width: 100%;
    
    

}
.maintext-2{
    border:3px var(--c5) solid;
    background: url("./bgtile2.png");
    background-position:center;
    background-repeat: repeat;
    background-size: 50px;
    border-radius:25px;
    margin:10px;
}
.mobile-display{
    display: none;
    float:none !important;
}
.product{
    border: var(--c3) solid 1px;
    /* background:red; */
    float: left !important;
    flex-direction: column;
    border-radius:25px;
    background:var(--c6);
    align-content: center;
    display:flex;
    min-width: 192px;
    min-height: 263px;
    justify-self: center;
}
.product img{
    width:80%;
    margin:auto;
    max-height: 300px;
    display: block;
}
.product h5{
text-align: center;
}


.product a{
    margin: auto;
}
#petcount{
    background:var(--c2);
    padding:10px;
    border:2px solid var(--c3);
}

.product p {
    text-align: center !important;
}

.price{
text-align: center;
background:var(--c2);
}

.product h5{
    background: var(--c1);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-bottom: 10px;
    padding-top:5px;
}
#petcount{
    margin-top:40px;
    width:100%;
}
#market{
    /* display: table-column !important; */
    /* display:flex; */
}
.formfields{
    padding:20px;
}
.formfields p{
    margin-top:10px !important;
}
.formfields input{
    margin-top:10px !important;
}
.formfields select{
    margin-top:10px !important;
}
.formfields input{
    margin-top:10px !important;
}
.formfields button{
    float:none;
    margin-top:10px !important;
}
.empty{
    margin:200px 0;
}